@import "../../variables";

.BlogCardsContainer {
  display: grid;
  grid-auto-rows: 350px;
  grid-gap: $spacingL;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: $spacingL;
  width: 100%;
}

.Wrapper {
  width: 100%;
}
