@import "../../../../variables";

.SearchBarContainer {
  @include flex(column, center, center);

  height: 100%;
  z-index: 2;

  label {
    color: white;
    margin-right: 0.5rem;
  }

  input {
    height: $spacingL;
    font-size: $pText;
    width: 100px;
  }

  @include min-width(361px) {
    label {
      font-size: 1.8rem;
    }
    input {
      height: $spacingL;
      font-size: 1.8rem;
      width: 90px;
    }
  }

  @include min-width(550px) {
    input {
      width: 200px;
    }
  }
}
