@import "../../../variables.scss";

.SidebarContainer {
  @include flex(column, flex-start, center);
  background: url("../../../assets/oldhangeul1.jpg");
  background-position: center;
  min-width: 100%;
  min-height: 10%;
  position: relative;

  a:link,
  a:visited {
    color: white;
  }

  .Filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  .SidebarContents {
    @include flex(row, space-between, center);
    padding: $spacingL;
    height: 100%;
    width: 100%;
    z-index: 2;

    ul {
      @include flex(column, flex-start, flex-start);
      list-style: none;

      li {
        color: white;
      }
    }
  }
}

.ImportantPosts {
  li {
    cursor: pointer;
  }
}

.Social {
  li a {
    font-size: $subtitleText;
  }
  li {
    padding: $spacingXS;
  }
}

@media screen and (min-width: 1000px) {
  .SidebarContainer {
    min-width: 20%;
    min-height: 100%;

    .SidebarContents {
      @include flex(column);
      padding-top: $spacingM;
      height: 80vh;
    }
  }
}
