@import "../../../variables.scss";

.HeaderContainer {
  @include flex(row, space-between, center);

  background-image: url("../../../assets/earlyhangeultrans.png");
  background-position: center;
  background-size: contain;

  height: 10vh;
  min-height: 60px;
  padding-right: $spacingL;
  position: relative;

  .Filter {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .Logo {
    @include flex(row, flex-start, center);

    height: 100%;
    padding: $spacingM;
    width: 100%;
    z-index: 2;

    img {
      height: 100%;
    }

    h1 {
      color: white;
      font-size: $subtitleText;
      margin-left: $spacingM;
    }
  }
}
