@import "../../../variables.scss";

.MenuContainer {
  @include flex(row, space-around, center);

  background: $tertiary;
  height: 30px;

  button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
}
