@import "../../../variables.scss";

.MenuContainer {
  background: $tertiary;
  height: 30px;
  @include flex(row, space-around, center);

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
}
