@import "../../variables.scss";

.PostContainer {
  @include flex(column, center, center);
  height: 100%;
  padding: $spacingL;
  width: 100%;

  .Top {
    @include flex(row, space-between, center);
    max-width: 1000px;
    width: 100%;
  }

  img {
    margin: $spacingXL 0;
    max-width: 850px;
    width: 100%;
  }
}

.TitleContainer {
  width: 70%;
  h2 {
    margin-bottom: $spacingXS;
  }

  h3 {
    color: $tertiary;
  }

  h2,
  h3 {
    font-size: $pText;
  }
  @include min-width(600px) {
    h2 {
      font-size: $titleText;
    }

    h3 {
      font-size: $subtitleText;
    }
  }
}

.PostMeta {
  @include flex(column, space-between);
  margin-bottom: $spacingS;

  p {
    color: $tertiary;
    font-size: $pTextS;
  }
}

.MarkdownContainer {
  margin-top: $spacingXL;
  width: 70%;
  max-width: 850px;

  p {
    margin-bottom: $spacingL;
  }
}
