//FONT STACK
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Nanum+Brush+Script");
$englishFont: "Montserrat", sans-serif;
$koreanFont: "Nanum Brush Script", cursive;
//VARIABLES
$primary: #cccccc;
$darkGray: rgb(51, 51, 51);
$secondary: rgb(0, 69, 161); //Blue
$tertiary: rgb(206, 42, 55);

//FONT SIZES
$pTextXS: 1.2rem;
$pTextS: 1.5rem;
$pText: 2rem;
$subtitleText: 3rem;
$titleText: 3.5rem;

//LINE HEIGHT SPACING ( 135% of font size)
$pSpacing: 2.7rem;
$subtitleSpacing: 4.05rem;
$titleSpacing: 4.725rem;

//General Spacing
$spacingXS: 0.5rem;
$spacingS: 1rem;
$spacingM: 1.5rem;
$spacingL: 2rem;

//MIXINS
//Flex
@mixin flex($dir: null, $just: null, $ali: null) {
  display: flex;
  @if $dir != null {
    flex-direction: $dir;
  }
  @if $just != null {
    justify-content: $just;
  }
  @if $ali != null {
    align-items: $ali;
  }
}
//Media min-width
@mixin min-width($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
