@import "./variables";
//Setup
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  min-height: 100%;
}

//Links
a {
  text-decoration: none;
}

a:link {
  color: $secondary;
  text-decoration: none;
}

a:visited {
  color: $secondary;
}

//Font-Sizing
h1 {
  font-size: $titleText;
  line-height: $titleSpacing;
}
h2 {
  font-size: $subtitleText;
  line-height: $subtitleSpacing;
}
p,
button,
label,
a,
li {
  font-size: $pText;
  line-height: $pSpacing;
}

//Font Color, Font
h1,
h2,
h3,
h4,
h5,
p,
label,
button,
input,
a,
li {
  color: $darkGray;
  font-family: $englishFont;
}
