@import "../../variables.scss";

.BlogCardContainer {
  @include flex(row);
  border: 1px solid $primary;
  height: 350px;
  max-width: 1000px;
  min-width: 100%;
}

.Left {
  @include flex(column, space-between);
  border-right: 1px solid $primary;
  height: 350px;
  padding: $spacingS;
  width: 50%;

  .Meta {
    @include flex(row, space-between);

    p {
      color: $tertiary;
      font-size: $pTextXS;
    }
  }

  p {
    font-size: $pTextS;
  }

  h2 {
    font-size: $pText;
  }

  @include min-width(600px) {
    p {
      font-size: $pText;
    }

    .Meta {
      p {
        font-size: $pTextS;
      }
    }
  }

  @include min-width(800px) {
    h2 {
      margin-bottom: $spacingM;
    }
  }

  @include min-width(1000px) {
    h2 {
      font-size: $subtitleText;
    }
  }
}

.Right {
  @include flex(row, center, center);
  width: 50%;

  .Fallback {
    h1 {
      font-family: $koreanFont;
      font-size: 10rem;
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
